@import 'palette.css';

.chip__root {
  height: 18px;
  min-width: 48px;
  max-width: fit-content;
  border-radius: 16px;
  padding: 4px;
  text-align: center;
  color: white;
  border: 1px solid white;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
